*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
.header{ background: #000;  
    display: flex;
flex-flow: column nowrap;}  

    .menu{background: #874C62; display: flex; flex-flow:row nowrap ; height: 100px; align-items: center;}
        .logo{background: #F2D388; flex: 1 1 auto; height: 40px;}
        .nav{background:#A7D2CB; flex: 5 1 auto; height: 40px}
        .social{background: #F2D388; flex: 1 1 auto; height:40px } 

    .texto-principal{background: #C98474;}
         h1{background: #A7D2CB;}  


.section{ background: #000; display: flex;}  
    .articulos{background: #1C6758; display: flex; flex: 2 1 auto;flex-flow: row wrap; }
        .article{background: #D6CDA4; flex:1 1 45%;}
        .navegacion{background:#EEF2E6 ;flex:1 1 100%;}
    .aside{background: #3D8361; flex: 1 1 auto;}
        .publicidad{background: #EEF2E6;}


.footer{background: #000; display: flex; justify-content: center ;}
    .pie{background:#E94560 ; width: 300px; flex: 1 1 100%} 

    @media all and (max-width:800px){
        .section{flex-direction: column;}
        .menu{height: auto;}
    }
    @media(max-width:600px) {
        .menu{flex-direction: column;}
        
    }
    